.shop .row {
  margin-bottom: 20px;
}

.cart {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.App-header {
  background-color: #f8f9fa;
}

.shop {
  background-color: #f1f1f1;
  padding: 20px 0;
}

.cardbox{
  margin:auto;
}

.bodybox{
  text-align:center;
  justify-content: center;
}

.strike{
  color: grey;
  text-decoration: line-through;
}

